*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #7e7a7a;
    color: #333;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h1, h2, h3{
    text-align: center;
    color: #333;
}
p{
    text-align: center;
    font-size: 1.2em;
}
ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;

}
img{
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}
form{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
button{
    display: block;
    width: 100%;
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]{
    background: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: #4cae4c;
}
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    h1, h2, h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    img {
        width: 200px;
        height: 200px;
    }
    form {
        padding: 15px;
    }
}
@media (max-width:400px){
    a{
        margin: 0 50px;
    }
}